{% extends "cases/base.html" %}
{% load bootstrap %}
{% load datepicker_html %}

{% block content %}
    <form role="form" action="{% url 'create-incident' %}" method="post">
        {{ form.media }}
        {% csrf_token %}
        <h3>Incident Information</h3>
            <!-- {{ form|bootstrap }}<br> -->
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {% if "datetime" in field.name %}
                        {% autoescape off %}{{ field|datepicker_html }}{% endautoescape %}
                    {% else %}
                        {{ field }}
                    {% endif %}
                </div>
            {% endfor %}
        <h3>Victim(s)</h3>
                {{ victim_formset.media }}
            <table>
                {{ victim_formset|bootstrap }}
            </table>
        <h3>Suspect(s)</h3>
                {{ suspect_formset.media }}
            <table>
                {{ suspect_formset|bootstrap }}
            </table>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>

{% endblock %}