{% extends "cases/base.html" %}
{% load bootstrap %}
{% load datepicker_html %}
{% load build_prefix %}

{% block content %}
    <div class="btn-group" role="group">
        <div class="btn-group mr-2" role="group">
            <a href="{% url 'print-report' incident.id %}"><button class="btn btn-primary">Print</button></a>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a href="{% url 'manage-files' incident.id %}"><button class="btn btn-primary">Manage Files</button></a>
        </div>
    </div>
    <form role="form" action="{% url 'detail' incident.id %}" method="post" enctype="multipart/form-data" class="form-group">
        {{ incident_form.media }}
        {% csrf_token %}
        <h3>Incident Details</h3>
        <!-- {{ incident_form|bootstrap }}<br> -->
        {% for field in incident_form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}
                {% if "datetime" in field.name %}
                    {% autoescape off %}{{ field|datepicker_html }}{% endautoescape %}
                {% else %}
                    {{ field }}
                {% endif %}
            </div><br>
        {% endfor %}

        Existing Files:
        <ul>
        {% for inc_file in existing_files %}
            <li>{{ inc_file.file.name }}</li>
        {% endfor %}
        </ul>
        <h3>Victim(s)</h3>
            {% for victim_form in victim_forms %}
                <h4>Victim {{ forloop.counter }}</h4>
                {% with prefix="victims"|build_prefix:forloop.counter0 %}
                    <!-- {{ victim_form|bootstrap }} -->
                    {% for field in victim_form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {% if "date_of_birth" in field.name %}
                                {% autoescape off %}
                                {{ field|datepicker_html:prefix }}
                                {% endautoescape %}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endwith %}
            {% endfor %}<br>
        <h3>Suspect(s)</h3>
            {% for suspect_form in suspect_forms %}
                <h4>Suspect {{ forloop.counter }}</h4>
                {% with prefix="suspects"|build_prefix:forloop.counter0 %}
                    <!-- {{ suspect_form|bootstrap }} -->
                    {% for field in suspect_form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {% if "date_of_birth" in field.name %}
                                {% autoescape off %}
                                {{ field|datepicker_html:prefix }}
                                {% endautoescape %}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endwith %}
            {% endfor %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
{% endblock %}