<div class="container">
    <h2>Incident Detail</h2>
    <form [formGroup]="incidentForm">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name:</label>
                <input class="form-control col-sm-10" formControlName="incident_number">
        </div>
        <div formGroupName="location">
            <h4>Location</h4>
            <div class="form-group row">
                <!-- TODO: Get the alignment of these right -->
                <label class="col-sm-2 col-form-label">Building:</label>
                <input class="form-control col-sm-1" formControlName="street_number">
                <label class="col-sm-2 col-form-label">Street:</label>
                <input class="form-control col-sm-3" formControlName="route">
                <label class="col-sm-2 col-form-label">City:</label>
                <input class="form-control col-sm-2" formControlName="locality">
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Zip:</label>
                <input class="form-control col-sm-4" formControlName="postal_code">
                <label class="col-sm-2 col-form-label">State:</label>
                <input class="form-control col-sm-4" formControlName="state">
            </div>
        </div>
        <div formGroupName="report_datetime">
            <h4>Report Date & Time</h4>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Date:</label>
                <input class="form-control col-sm-4" formControlName="date" type="date">
                <label class="col-sm-2 col-form-label">Time:</label>
                <input class="form-control col-sm-4" formControlName="time" type="time">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Reporting Officer:</label>
            <select class="form-control col-sm-10" formControlName="reporting_officer">
                <option *ngFor="let officer of availableOfficers" [value]="officer">{{officer.officer_number}} - {{officer.user.last_name}}</option>
            </select>
        </div>
    </form>
</div>

<p>Form value: {{ incidentForm.value | json }}</p>