<div class="container">
    <div class="col-sm-12">
        <h3>APD Incidents</h3>
        <table *ngIf="incidents" class="incidents table">
            <thead>
                <tr>
                    <th>Incident Number</th>
                    <th>Report Datetime</th>
                    <th>Reporting Officer</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let incident of incidents">
                    <td><a routerLink="/incidents/{{incident.id}}">{{incident.incident_number}}</a></td>
                    <td>{{incident.report_datetime.date}} {{incident.report_datetime.time}} </td>
                    <td>{{incident.reporting_officer.user.last_name}} - {{incident.reporting_officer.officer_number}}</td>
                </tr>
            </tbody>
        </table>
        <a routerLink="/create-incident"><button type="button" class="btn btn-success" (click)="newIncident()">Create New Incident</button></a>
    </div>
</div>
