<div class="container" *ngIf="incident">
    <div class="row">
        <div [hidden]="!showSuccessAlert" class="alert alert-success alert-dismissible fade show" role="alert">Incident was saved successfully.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    
    <ul class="nav nav-tabs nav-fill mb-3">
        <li class="nav-item" (click)="goToIncident()">
            <a class="nav-link" [ngClass]="{'active': activeTab === 'incident'}" href="javascript:void(0)">Incident</a>
        </li>
        <li class="nav-item" (click)="goToVictims()">
            <a class="nav-link" [ngClass]="{'active': activeTab === 'victims'}" href="javascript:void(0)">Victims</a>
       </li>
        <li class="nav-item" (click)="goToSuspects()">
            <a class="nav-link" [ngClass]="{'active': activeTab === 'suspects'}" href="javascript:void(0)">Suspects</a>
        </li>
        <li class="nav-item" (click)="goToFiles()">
            <a class="nav-link" [ngClass]="{'active': activeTab === 'files'}" href="javascript:void(0)">Files</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{printURL}}">Print</a>
        </li>
    </ul>
    
    <div class="row" *ngIf="activeTab === 'incident'">
        <div class="col-sm-12">
            <form [formGroup]="incidentForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Incident Number:</label>
                        <input class="form-control col-sm-10" formControlName="incident_number">
                </div>
                <div formGroupName="location">
                    <h4>Location</h4>
                    <div class="form-group row">
                        <!-- TODO: Get the alignment of these right -->
                        <label class="col-sm-2 col-form-label">Building:</label>
                        <input class="form-control col-sm-2" formControlName="street_number">
                        <label class="col-sm-1 col-form-label">Street:</label>
                        <input class="form-control col-sm-7" formControlName="route">
                    </div>
                        <div class="form-group row">
                        <label class="col-sm-2 col-form-label">City:</label>
                        <input class="form-control col-sm-4" formControlName="city">
                        <label class="col-sm-1 col-form-label">State:</label>
                        <select class="form-control col-sm-2" formControlName="state">
                            <option *ngFor="let state of states" [value]="state">{{state}}</option>
                        </select>
                        <label class="col-sm-1 col-form-label">Zip:</label>
                        <input class="form-control col-sm-2" formControlName="postal_code">
                    </div>
                </div>
                <div formGroupName="report_datetime">
                    <h4>Report Date & Time</h4>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Date:</label>
                        <input class="form-control col-sm-4" formControlName="date" type="date" placeholder="{{dateString}}">
                        <label class="col-sm-2 col-form-label">Time:</label>
                        <input class="form-control col-sm-4" formControlName="time" type="time">
                    </div>
                </div>
                <div formGroupName="reporting_officer">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Reporting Officer:</label>
                        <select class="form-control col-sm-10" formControlName="id">
                            <option *ngFor="let officer of availableOfficers" [value]="officer.id">{{officer.officer_number}} - {{officer.user.last_name}}</option>
                        </select>
                    </div>
                </div>
                <div formGroupName="reviewed_datetime">
                    <h4>Review Date & Time</h4>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Date:</label>
                        <input class="form-control col-sm-4" formControlName="date" type="date" placeholder="{{dateString}}">
                        <label class="col-sm-2 col-form-label">Time:</label>
                        <input class="form-control col-sm-4" formControlName="time" type="time">
                    </div>
                </div>
                <div formGroupName="reviewed_by_officer">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Reviewed By:</label>
                        <select class="form-control col-sm-10" formControlName="id">
                            <option *ngFor="let officer of availableOfficers" [value]="officer.id">{{officer.officer_number}} - {{officer.user.last_name}}</option>
                        </select>
                    </div>
                </div>
                <div formGroupName="investigating_officer">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Investigated By:</label>
                        <select class="form-control col-sm-10" formControlName="id">
                            <option *ngFor="let officer of availableOfficers" [value]="officer.id">{{officer.officer_number}} - {{officer.user.last_name}}</option>
                        </select>
                    </div>
                </div>
                <div formGroupName="officer_making_report">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Officer Making Report:</label>
                        <select class="form-control col-sm-10" formControlName="id">
                            <option *ngFor="let officer of availableOfficers" [value]="officer.id">{{officer.officer_number}} - {{officer.user.last_name}}</option>
                        </select>
                    </div>
                </div>
                <div formGroupName="supervisor">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Supervisor:</label>
                        <select class="form-control col-sm-10" formControlName="id">
                            <option *ngFor="let officer of availableOfficers" [value]="officer.id">{{officer.officer_number}} - {{officer.user.last_name}}</option>
                        </select>
                    </div>
                </div>
                <div formGroupName="approved_datetime">
                    <h4>Approval Date & Time</h4>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Date:</label>
                        <input class="form-control col-sm-4" formControlName="date" type="date" placeholder="{{dateString}}">
                        <label class="col-sm-2 col-form-label">Time:</label>
                        <input class="form-control col-sm-4" formControlName="time" type="time">
                    </div>
                </div>
                <!-- TODO: This isn't *great* styling -->
                <h4>Miscellaneous</h4>
                <div formGroupName="earliest_occurrence_datetime">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Earliest Date:</label>
                        <input class="form-control col-sm-4" formControlName="date" type="date" placeholder="{{dateString}}">
                        <label class="col-sm-2 col-form-label">Time:</label>
                        <input class="form-control col-sm-4" formControlName="time" type="time">
                    </div>
                </div>
                <div formGroupName="latest_occurrence_datetime">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Latest Date:</label>
                        <input class="form-control col-sm-4" formControlName="date" type="date" placeholder="{{dateString}}">
                        <label class="col-sm-2 col-form-label">Time:</label>
                        <input class="form-control col-sm-4" formControlName="time" type="time">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Beat:</label>
                    <input class="form-control col-sm-10" formControlName="beat" type="number">
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Shift:</label>
                    <select class="form-control col-sm-10" formControlName="shift">
                        <option value="D">Day</option>
                        <option value="E">Evening</option>
                        <option value="N">Night</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Damaged:</label>
                    <input class="form-control col-sm-10" formControlName="damaged_amount" type="number">
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Stolen:</label>
                    <input class="form-control col-sm-10" formControlName="stolen_amount" type="number">
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Offenses:</label>
                    <select class="custom-select form-control col-sm-10" multiple formControlName="offenses">
                        <!-- TODO: Display all possible offenses, with only the ones relevant to this report being selected-->
                        <option *ngFor="let offense of availableOffenses" [value]="offense.id">{{offense.ucr_name_classification}} - {{offense.ucr_subclass_description}} - {{offense.ucr_code}}</option>
                    </select>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Narrative:</label>
                    <textarea class="form-control col-sm-10" formControlName="narrative"></textarea>
                </div>
                
                <div class="row justify-content-end mb-5">
                    <div class="btn-group" role="group">
                        <button class="btn btn-success" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row" *ngIf="activeTab === 'victims'">
        <app-victim [victims]="incidentVictims" [availableOfficers]="availableOfficers"></app-victim>
    </div>
    <div class="row" *ngIf="activeTab === 'suspects'">
        <app-suspect [suspects]="incidentSuspects" [availableOfficers]="availableOfficers"></app-suspect>
    </div>
    <div class="row" *ngIf="activeTab === 'files'">
        <app-file-upload class="col" [incident]="incident" [existingFiles]="incidentFiles"></app-file-upload>
    </div>
</div>

<div class="container" *ngIf="!incident">
    <p>Fetching incident...</p>
</div>

<!--p>Form value: {{ incidentForm.value | json }}</p-->