<table *ngIf="!selectedIncident" class="incidents table">
    <thead>
        <tr>
            <th>Incident Number</th>
            <th>Report Datetime</th>
            <th>Reporting Officer</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let incident of incidents">
            <td><a (click)="select(incident)">{{incident.incident_number}}</a></td>
            <td>{{incident.report_datetime.date}} {{incident.report_datetime.time}} </td>
            <td>{{incident.reporting_officer.user.last_name}} - {{incident.reporting_officer.officer_number}}</td>
        </tr>
    </tbody>
</table>

<div *ngIf="selectedIncident">
    <h3>Editing: {{selectedIncident.incident_number}}</h3>
    <app-incident-detail-reactive [incident]="selectedIncident"></app-incident-detail-reactive>
    <button class="btn btn-primary" (click)="getIncidents()">Back</button>
</div>
