<div class="container">
    <ul class="nav nav-tabs nav-fill mb-3">
        <li class="nav-item">
            <a class="nav-link" href="#">Incident</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/incidents/{{incidentId}}/victims">Victims</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Suspects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Files</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{printURL}}">Print</a>
        </li>
    </ul>
    <div class="row">
        <div class="col-sm-12" *ngIf="victimForm">
            <form [formGroup]="victimForm">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">First Name:</label>
                    <input class="form-control col-sm-4" formControlName="first_name">
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Last Name:</label>
                    <input class="form-control col-sm-4" formControlName="last_name">
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Juvenile:</label>
                    <input type="checkbox" class="form-control col-sm-4" formControlName="juvenile">
                </div>
                <div formGroupName="officer_signed">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Officer Signed:</label>
                            <select class="form-control col-sm-10" formControlName="officer_number">
                                <option *ngFor="let officer of availableOfficers" [value]="officer.officer_number">{{officer.officer_number}} - {{officer.user.last_name}}</option>
                            </select>
                        </div>
                    </div>
                <div formGroupName="home_address" class="well">
                    <h5>Home Address</h5>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Building:</label>
                        <input class="form-control col-sm-1" formControlName="street_number">
                        <label class="col-sm-2 col-form-label">Street:</label>
                        <input class="form-control col-sm-3" formControlName="route">
                        <label class="col-sm-2 col-form-label">City:</label>
                        <input class="form-control col-sm-2" formControlName="locality">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Zip:</label>
                        <input class="form-control col-sm-4" formControlName="postal_code">
                        <label class="col-sm-1 col-form-label">State:</label>
                        <input class="form-control col-sm-2" formControlName="state">
                        <label class="col-sm-1 col-form-label">Country:</label>
                        <input class="form-control col-sm-2" formControlName="country">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Date of Birth:</label>
                    <input class="form-control col-sm-10" formControlName="date_of_birth" type="date">
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Sex:</label>
                    <select class="form-control col-sm-4" formControlName="sex">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                    <label class="col-sm-2 col-form-label">Race:</label>
                    <select class="form-control col-sm-4" formControlName="race">
                        <option value="ASIAN">Asian</option>
                        <option value="BLACK">Black African American</option>
                        <option value="NATIVE">Native American</option>
                        <option value="HAWAIIAN/PACIFIC_ISLANADER">Native Hawaiian/Pacific Islander</option>
                        <option value="WHITE">White</option>
                        <option value="OTHER">Other</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Height:</label>
                    <input class="form-control col-sm-4" formControlName="height" type="number">
                    <label class="col-sm-2 col-form-label">Weight:</label>
                    <input class="form-control col-sm-4" formControlName="weight" type="number">
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">DL #:</label>
                    <input class="form-control col-sm-6" formControlName="drivers_license">
                    <label class="col-sm-2 col-form-label">DL State:</label>
                    <select class="form-control col-sm-2" formControlName="drivers_license_state">
                        <option *ngFor="let state of states" [value]="state">{{state}}</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Employer:</label>
                    <input class="form-control col-sm-10" formControlName="employer">
                </div>
                <div formGroupName="employer_address" class="well well-lg">
                    <h5>Employer Address</h5>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Building:</label>
                        <input class="form-control col-sm-1" formControlName="street_number">
                        <label class="col-sm-2 col-form-label">Street:</label>
                        <input class="form-control col-sm-3" formControlName="route">
                        <label class="col-sm-2 col-form-label">City:</label>
                        <input class="form-control col-sm-2" formControlName="locality">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Zip:</label>
                        <input class="form-control col-sm-4" formControlName="postal_code">
                        <label class="col-sm-1 col-form-label">State:</label>
                        <input class="form-control col-sm-2" formControlName="state">
                        <label class="col-sm-1 col-form-label">Country:</label>
                        <input class="form-control col-sm-2" formControlName="country">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Build:</label>
                    <input class="form-control col-sm-10" formControlName="build">
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Tattos:</label>
                    <input class="form-control col-sm-10" formControlName="tattoos">
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Scars:</label>
                    <input class="form-control col-sm-10" formControlName="scars">
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Hairstyle:</label>
                    <input class="form-control col-sm-10" formControlName="hairstyle">
                </div>
            </form>
            <p>Form value: {{ victimForm.value | json }}</p>
        </div>
        <div class="col-sm-12" *ngIf="!victimForm">
            <p>Loading</p>
        </div>
    </div>    
</div>