<div class="row" *ngIf="suspectForm">
    <form [formGroup]="suspectForm">
        <div formArrayName="suspectsArray">
            <div *ngFor="let suspect of suspectsArray.controls; let i=index" [formGroupName]="i">
                <h3>Suspect {{i + 1}}</h3>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">First Name:</label>
                    <input class="form-control col-sm-4" formControlName="first_name">
                    <label class="col-sm-2 col-form-label">Last Name:</label>
                    <input class="form-control col-sm-4" formControlName="last_name">
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Juvenile:</label>
                    <input type="checkbox" class="form-control col-sm-4" formControlName="juvenile">
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Officer Signed:</label>
                    <select class="form-control col-sm-10" formControlName="officer_signed">
                        <option *ngFor="let officer of availableOfficers" [value]="officer.id">{{officer.officer_number}} - {{officer.user.last_name}}</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Date of Birth:</label>
                    <input class="form-control col-sm-10" formControlName="date_of_birth" type="date">
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Sex:</label>
                    <select class="form-control col-sm-4" formControlName="sex">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                    <label class="col-sm-2 col-form-label">Race:</label>
                    <select class="form-control col-sm-4" formControlName="race">
                        <option value="ASIAN">Asian</option>
                        <option value="BLACK">Black African American</option>
                        <option value="NATIVE">Native American</option>
                        <option value="HAWAIIAN/PACIFIC_ISLANADER">Native Hawaiian/Pacific Islander</option>
                        <option value="WHITE">White</option>
                        <option value="OTHER">Other</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Height:</label>
                    <input class="form-control col-sm-1 mr-1" id="heightFeet{{i}}" type="number" attr.data-count="{{i}}"  [value]="getFeet(suspect)" (change)="updateHeight(suspect, $event)">
                    <div class="input-group-append mr-3">
                        <span class="input-group-text" id="heightFeetAddOn">Feet</span>
                    </div>
                    <input class="form-control col-sm-1 mr-1" id="heightInches{{i}}" attr.data-count="{{i}}" [value]="getInches(suspect)" type="number" (change)="updateHeight(suspect, $event)">
                    <div class="input-group-append">
                        <span class="input-group-text" id="heightInchesAddOn">Inches</span>
                    </div>
                    <label class="col-sm-2 col-form-label ml-auto">Weight:</label>
                    <input class="form-control col-sm-4" formControlName="weight" type="number">
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">DL #:</label>
                    <input class="form-control col-sm-4" formControlName="drivers_license">
                    <label class="col-sm-2 col-form-label">DL State:</label>
                    <select class="form-control col-sm-4" formControlName="drivers_license_state">
                        <option *ngFor="let state of states" [value]="state">{{state}}</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Build:</label>
                    <input class="form-control col-sm-4" formControlName="build">
                    <label class="col-sm-2 col-form-label">Tattos:</label>
                    <input class="form-control col-sm-4" formControlName="tattoos">
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Scars:</label>
                    <input class="form-control col-sm-4" formControlName="scars">
                    <label class="col-sm-2 col-form-label">Hairstyle:</label>
                    <input class="form-control col-sm-4" formControlName="hairstyle">
                </div>
                <div formGroupName="home_address" class="well">
                    <h5>Home Address</h5>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Building:</label>
                        <input class="form-control col-sm-1" formControlName="street_number">
                        <label class="col-sm-1 col-form-label">Street:</label>
                        <input class="form-control col-sm-4" formControlName="route">
                        <label class="col-sm-1 col-form-label">City:</label>
                        <input class="form-control col-sm-3" formControlName="city">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">State:</label>
                        <select class="form-control col-sm-4" formControlName="state">
                            <option *ngFor="let state of states" [value]="state">{{state}}</option>
                        </select>
                        <label class="col-sm-2 col-form-label">Zip:</label>
                        <input class="form-control col-sm-4" formControlName="postal_code">
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Employer:</label>
                    <input class="form-control col-sm-10" formControlName="employer">
                </div>
                <div formGroupName="employer_address" class="well well-lg">
                    <h5>Employer Address</h5>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Building:</label>
                        <input class="form-control col-sm-1" formControlName="street_number">
                        <label class="col-sm-1 col-form-label">Street:</label>
                        <input class="form-control col-sm-4" formControlName="route">
                        <label class="col-sm-1 col-form-label">City:</label>
                        <input class="form-control col-sm-3" formControlName="city">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">State:</label>
                        <select class="form-control col-sm-4" formControlName="state">
                            <option *ngFor="let state of states" [value]="state">{{state}}</option>
                        </select>
                        <label class="col-sm-2 col-form-label">Zip:</label>
                        <input class="form-control col-sm-4" formControlName="postal_code">
                    </div>
                </div>
                
            </div>
        </div>
    </form>
</div>
<div class="row justify-content-between mt-2 mb-2">
    <div class="col-sm-1 align-self-start" style="padding-left: 0;">
        <button type="button" class="btn btn-danger">Cancel</button>
    </div>
    <div class="col-sm-3 align-self-center">
        <div class="row justify-content-center">
            <button (click)="addSuspect()" type="button" class="btn btn-dark">Add another Suspect</button>
        </div>
    </div>
    <div class="col-sm-1" style="padding-right: 0;">
        <div class="row justify-content-end">
            <button type="button" (click)="onSubmit()" class="btn btn-success">Save</button>
        </div>
    </div>
</div>
<div class="row" *ngIf="!suspectForm">
    <p>Loading</p>
</div>